Nesse notebook existe exemplos de como:

- Criar uma base de dados SQLite
- Criar uma tabela
- Inserir dados na tabela
- Consultar dados da tabela

Pacotes

In [24]:
import sqlite3
import pandas as pd

Criando uma conexão com o banco de dados

In [25]:
con = sqlite3.connect('companhiaMB') 
cur = con.cursor() # salva comandos na memória
print('Conectado ao banco!')

Conectado ao banco!

Criar tabela

In [26]:
con.execute(
    '''
    CREATE TABLE funcionarios(
        PrimeiroNome VARCHAR(50) NOT NULL,
        UltimoNome VARCHAR(50) NOT NULL,
        USERID int NOT NULL UNIQUE, 
        PRIMARY KEY (USERID)
    );
    '''
)

con.commit() # salva as alterações no banco para todas as alterações (tipo o git commit)

Inserindo dados na tabela

In [27]:
con.execute(
    '''
    INSERT INTO funcionarios VALUES ('Matheus', 'Brasil', 1997);
    '''
)

con.commit()

In [28]:
con.executescript(
    '''
    INSERT INTO funcionarios VALUES ('Vitória', 'Lopes', 1998);
    INSERT INTO funcionarios VALUES ('Eduardo', 'Silva', 2001)
    '''
)

con.commit()

Escrevendo uma consulta

In [29]:
query = 'SELECT * FROM funcionarios'

df = pd.read_sql_query(query, con)
df.head()

  PrimeiroNome UltimoNome  USERID
0      Matheus     Brasil    1997
1      Vitória      Lopes    1998
2      Eduardo      Silva    2001

Fecha a conexão

In [30]:
con.close()