Restringir o número de linhas de uma consulta é útil para prevenir o consumo excessivo de recursos do sistema.

In [2]:
import sqlite3
import pandas as pd

Criando uma conexão com o banco de dados

In [3]:
con = sqlite3.connect('companhiaMB') 
cur = con.cursor() # salva comandos na memória
print('Conectado ao banco!')

Conectado ao banco!

Consultando todos os dados da tabela

In [4]:
query = 'SELECT * FROM funcionarios LIMIT 2'

df = pd.read_sql_query(query, con)
df

  PrimeiroNome UltimoNome  USERID  Salario  Aluguel
0      Matheus     Brasil    1997   1000.0    650.0
1      Vitória      Lopes    1998   2000.0    500.0